<% layout('/layout/boilerplate.ejs') %>
<%- include('layout/playArena') %>
<div class="row">
    <div class="col-6 col-sm-6">
    <div class="sea">
  <% for( let index = 0; index < 10; index++ ) { %>
  <div class="y-axis">
    <% for( let index = 0; index < 10; index++ ) { %>

    <div class="sea-cell"></div>

    <% } %>
  </div>
  <% } %>
</div>
</div>
  <div class="col-sm-6 col-12"></div>
    
  </div>
</div>
